<div class="p-3" id="jumbotron">
    <h1 style="text-align: center;">Gaming Store</h1>
    <p style="text-align: center;">Your number one distribution for video game copies, consoles & controllers, and figurines of various video game characters!</p>
</div>
<nav class="navbar navbar-expand bg-dark navbar-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand">Gaming Store</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/games">Video Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/consoles">Consoles & Controllers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/figurines">Figurines</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cart">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>