<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <title>Home</title>
</head>

<body>
    <%- include ('partials/navbar.ejs') %>
    <h1 style="text-align: center;">Consoles & Controllers</h1>
    <div class="grid-container">
        <div></div>
            <form action="/console/add" method="POST">
                <label for="image">Image:</label><br>
                <input type="file" id="image" name="image" accept="image/*" required><br><br>

                <label for="imagedesc">Image Description:</label><br>
                <input type="text" id="imagedesc" name="imagedesc" required><br><br>

                <label for="name">Name:</label><br>
                <input type="text" id="name" name="name" required><br><br>

                <label for="type">Genre:</label><br>
                <input type="text" id="type" name="type" required><br><br>

                <label for="description">Description:</label><br>
                <input type="text" id="description" name="description" required><br><br>

                <label for="company">Company:</label><br>
                <input type="text" id="company" name="company" required><br><br>

                <label for="price">Price:</label><br>
                <input type="number" id="price" name="price" required><br><br>

                <label for="date">Date:</label><br>
                <input type="date" id="date" name="date" required><br><br>

                <label for="quantity">Quantity:</label><br>
                <input type="number" id="quantity" name="quantity" required><br><br>

                <button type="submit">Add Console/Controller</button>
            </form>
        <div></div>
    </div>
</body>

</html>